{:kotoba.app/latest "k51qzi5uqu5dlq495k600itlb4e9d2ysd5xbqtxszgj7tleiu53q0aqly64ijo", :kotoba.app/site-cid "bafybeiczukgcdecm724dsm45jg63udop6k5xixswqmakoi73yaaoejx2l4", :kotoba.app/id "cloud.itonami.yard-ops", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dlq495k600itlb4e9d2ysd5xbqtxszgj7tleiu53q0aqly64ijo", :published {:own-nodes {:cid "bafybeiczukgcdecm724dsm45jg63udop6k5xixswqmakoi73yaaoejx2l4", :ipns "k51qzi5uqu5dlq495k600itlb4e9d2ysd5xbqtxszgj7tleiu53q0aqly64ijo", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:57:48Z"}}}
